$hopbush: #c69 !default;
$patina: #699 !default;
$venus: #998099 !default;
$nebula: #d2e1dd !default;
$lightgrey: #eaeaea !default;
$darkgrey: #4b5156 !default;

$lightblue: #17a2b8 !default;
$lightblack: #242921 !default;
$black: #000 !default;
$white: #fff !default;

$appleExit: #fc6058 !default;
$appleZoomOut: #fec02f !default;
$appleZoomIn: #2aca3e !default;

$btn-disabled-opacity: 0.5 !default;
