@import '_variables';
@import './_common.scss';
* {
  transition: 0.4s;
}
.container {
  width: 120rem;
  margin: 0 auto;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  height: 5rem;
  .menubar {
    background-color: rgba(147, 151, 154, 0.4);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    span {
      font-size: 1.2rem;
    }
    color: var(--secondaryText);
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        cursor: pointer;
        padding-right: 1.2rem;
        a {
          color: var(--secondaryText);
        }
      }
    }
    .menubar-l {
      padding-right: 1.2rem;
      display: flex;
      margin-right: auto;
      i {
        padding-left: 1rem;
        margin-right: 2rem;
        font-size: 2rem;
      }
    }
    .menubar-r {
      > i {
        display: none;
      }
    }
  }
}
.s2 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  flex: 1;
  .greeting-wrapper {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    line-height: 10vh;
    height: 10vh;
  }
  .intro-wrapper {
    height: 100%;
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.5rem;
      line-height: 2.5rem;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid var(--borderColor);
      background-color: var(--mainColor);
      > .dot-wrapper {
        display: flex;
        padding-left: 1rem;
        > .dot {
          background-color: $black;
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 50%;
          cursor: pointer;
          margin: 0.5rem;
          -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
          position: relative;
          i {
            font-size: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: lighten($lightblack, 10%);
            display: none;
          }
        }
        #dot-1 {
          background-color: $appleExit;
        }
        #dot-2 {
          background-color: $appleZoomOut;
        }
        #dot-3 {
          background-color: $appleZoomIn;
        }
      }
      > .contact-wrapper {
        margin: 0;
        padding-right: 1rem;
        font-size: 1.6rem;
        li {
          display: inline-block;
          margin: 0.5rem;
        }
      }
    }
    .content-wrapper {
      width: 100%;
      height: 100%;
      min-height: 60vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      .left-content {
        width: 20rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
        h2 {
          letter-spacing: 1rem;
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
          font-style: italic;
          letter-spacing: 0.4rem;
        }
        > img {
          position: relative;
          border-radius: 5px;
          object-fit: cover;
          border: 1px solid var(--borderColor);
          -webkit-box-shadow: 12px 11px 25px -14px rgba(66, 66, 66, 0.75);
          -moz-box-shadow: 12px 11px 25px -14px rgba(66, 66, 66, 0.75);
          box-shadow: 12px 11px 25px -14px rgba(66, 66, 66, 0.75);
        }
        .theme-options-wrapper {
          display: flex;
          justify-content: space-evenly;
          .theme-dot {
            background-color: $black;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            border: 2px solid var(--themeDotBorder);
            margin: 5px;
            cursor: pointer;
            -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
            &:hover {
              border-width: 4px;
            }
          }
          #light-mode {
            background-color: #fff;
          }
          #blue-mode {
            background-color: #192734;
          }
          #navy-mode {
            background-color: #7886eb;
          }
          #green-mode {
            background-color: #78866b;
          }
          #purple-mode {
            background-color: #7e4c74;
          }
        }
      }
      .right-content {
        padding-bottom: 5rem;
        padding-top: 5rem;
        width: 40rem;
        .preview-shadow {
          background-color: var(--previewShadow);
          width: 100%;
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
          .preview {
            width: 100%;
            background-color: var(--previewBg);
            padding: 1.5rem;
            border: 1.5px solid $lightblue;
            position: relative;
            .corner {
              width: 7px;
              height: 7px;
              border-radius: 50%;
              border: 1.5px solid $lightblue;
              background-color: #fff;
              position: absolute;
            }
            #corner-tl {
              top: -5px;
              left: -5px;
            }
            #corner-tr {
              top: -5px;
              right: -5px;
            }
            #corner-bl {
              bottom: -5px;
              left: -5px;
            }
            #corner-br {
              bottom: -5px;
              right: -5px;
            }
          }
        }
      }
    }
  }
}

// Footer
.s3 {
  height: 5rem;
  background-color: var(--mainColor);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  > ul {
    height: 100%;
    border: 1px solid rgba(52, 51, 51, 0.2);
    background-image: radial-gradient(
      circle 467px at 49.8% 56.9%,
      rgba(221, 221, 221, 0.5) 50.4%,
      rgba(196, 196, 196, 0.5) 89%
    );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50rem;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    li {
      cursor: pointer;
      text-align: center;
      &:hover > i {
        transform: scale(1.4);
      }
    }
  }
}

// ABOUT PAGE
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
  .about-me {
    display: flex;
    flex-direction: column;
    > .skills-wrapper {
      width: 100%;
      height: 100px;
      background-color: var(--previewShadow);
      color: var(--mainText);
      overflow: hidden;
      position: relative;
      &:before,
      &:after {
        position: absolute;
        top: 0;
        width: 10rem;
        height: 100%;
        content: '';
        z-index: 1;
      }
      &:before {
        left: 0;
        background: linear-gradient(to right, var(--previewShadow) 0%, transparent 100%);
      }
      &:after {
        right: 0;
        background: linear-gradient(to left, var(--previewShadow) 0%, transparent 100%);
      }

      > .skills-content {
        margin: 0;
        padding: 0;
        display: flex;
        height: 100%;
        animation: moving calc(var(--skills-elements) * 1s) linear infinite;
        @keyframes moving {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(calc(-1 * 25% * var(--skills-elements)));
          }
        }
        &:hover {
          animation-play-state: paused;
        }
        & > li {
          display: flex;
          flex-shrink: 0;
          justify-content: center;
          align-items: center;
          width: 25%;
          max-height: 100%;
          font-size: calc(100px * 3 / 5);
          white-space: nowrap;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
// PROJECT PAGE
.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  .pannel-wrapper {
    display: flex;
    width: 1200px;
    height: 200px;
    .pannel {
      width: 400px;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .s1 {
    .menubar-l > ul {
      width: 100%;
      display: none;
      position: absolute;
      top: 5rem;
      background-color: var(--mainColor);
      z-index: 1;
      text-align: center;
      font-size: 2rem;
      &[class='show'] {
        display: inline-block;
      }
      li {
        padding: 0;
        height: 4.4rem;
        line-height: 4.4rem;
        width: 100%;
        &:hover {
          background-color: var(--mainText);
          a {
            color: var(--secondaryColor);
          }
        }
      }
    }
    .menubar-r {
      > ul {
        display: none;
      }
      > #mobile-menu {
        margin-right: 2rem;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .s2 {
    .container {
      .intro-wrapper {
        .left-content {
          width: 80%;
        }
        .right-content {
          width: 80%;
        }
      }
    }
  }
}
