@import '../../color';
.theme-options-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  .theme-dot {
    background-color: $black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid var(--themeDotBorder);
    margin: 5px;
    cursor: pointer;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    &:hover {
      border-width: 4px;
    }
  }
  #light-mode {
    background-color: #fff;
  }
  #blue-mode {
    background-color: #192734;
  }
  #navy-mode {
    background-color: #7886eb;
  }
  #green-mode {
    background-color: #78866b;
  }
  #purple-mode {
    background-color: #7e4c74;
  }
}

@media screen and (max-width: 420px) {
  .theme-options-wrapper {
    .theme-dot {
      height: 2rem;
      width: 2rem;
    }
  }
}
