@import '../../color';
.menubar {
  background-color: rgba(147, 151, 154, 0.3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  span {
    font-size: 1.2rem;
  }
  color: var(--secondaryText);
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      width: fit-content;
      cursor: pointer;
      padding-right: 1.2rem;
      a {
        color: var(--secondaryText);
      }
    }
  }
  .menubar-l {
    padding-right: 1.2rem;
    display: flex;
    margin-right: auto;
    align-items: center;
    i {
      padding-left: 1rem;
      margin-right: 2rem;
      font-size: 2rem;
    }
  }
  .menubar-r {
    .wifi {
      font-size: 2rem;
    }
    .battery {
      display: flex;
      i {
        margin-right: 0.2rem;
      }
      .battery-percentage {
        font-size: 1.2rem;
      }
    }
    .menuTime {
      width: 12rem;
    }
    > i {
      display: none;
    }
  }
}
@media screen and (max-width: 420px) {
  .menubar {
    .menubar-l {
      ul {
        display: none;
      }
    }
    .menubar-r {
      position: relative;
      .wifi {
        position: absolute;
        right: 0.2rem;
      }
      .author {
        display: none;
      }
      .menuTime {
        font-size: 1.2rem;
        width: 10rem;
        margin-right: 2rem;
      }
      li:last-child {
        display: none;
      }
    }
  }
}
